

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    background-color:aquamarine;
}

nav{
    font-weight:bold;
    background-color: cadetblue;
    border: 2px cadetblue;
    text-align: center;
    width: 20%;
}

nav ul{
    display: none;
    width: 40%;
    list-style:none;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    

}

nav:hover ul{
    display: block;
}

nav ul li{
    border-top: 3px cadetblue;
    background-color: white;
    color: cadetblue;
    margin-top: 10px;
    border-style: dotted;
    border-right: 10px;
    padding-top: 10px;
    width: 40%;

}